@*
    CUADRATURA HABERES
*@
@{
}


<link href="global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
<script src="global_assets/js/demo_pages/form_floating_labels.js"></script>

<script src="global_assets/js/plugins/tables/datatables/extensions/col_reorder.min.js"></script>
<script src="global_assets/js/demo_pages/datatables_extension_reorder.js"></script>

<script src="global_assets/js/plugins/tables/datatables/extensions/fixed_header.min.js"></script>
<script src="global_assets/js/demo_pages/datatables_extension_fixed_header.js"></script>
<script src="global_assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
<script src="global_assets/js/demo_pages/datatables_extension_colvis.js"></script>


<div class="dataTables_wrapper no-footer">
    <div class="card datatable-scroll-wrap">

        <div class="card-header pb-0 d-flex justify-content-between">
            <h2><i class="counter-icon"></i>Cierre de proceso</h2>
        </div>

        <div class="card-body">
            <h4>Filtrar por:</h4>
            <form id="form-filter">
                <div class="form-group form-group-floating row">
                    <div class="form-group form-group-float col-md-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <span>Mes</span>
                            <select id="cbo_mes" class="custom-select form-control input-borde"></select>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <span>Año</span>
                            <select id="cbo_anio" class="custom-select form-control input-borde"></select>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-2">
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <span>Pago</span>
                            <select id="cbo_pago" class="custom-select form-control input-borde"></select>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end">
                        <div>
@*                             <button type="button" id="btn-filter" class="btn btn-secondary btn-labeled btn-labeled-left">
                                <b><i class="icon-file-presentation2"></i></b>
                                <span class="">Generar</span>
                            </button>
 *@                            <button id="nuevo"  type="button" class="btn btn-primary bg-indigo-800 rounded-round btn-sm m-2"  onclick="inicio()">Proceso</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-md-12" align="center" id="esperar" style="display: none">
                    <img src="global_assets/images/loading-gif.gif" style="height:30px;width:30px;" />
                    <p>Cargando información, por favor espere un momento...</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="zona_imprimir" style="display: none">
    <!--<h3 style="text-align: center; border-bottom: 1px solid #c3c3c3" id="title-impresion"></h3>-->
    <div id="content-impresion">
    </div>
</div>

@section Scripts {
        <script src="~/Scripts/CierraProceso.js"></script>
}