@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*                **************************************       Comprobante contable       **************************************                *@



<link href="global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
<script src="global_assets/js/demo_pages/form_floating_labels.js"></script>

<div class="dataTables_wrapper no-footer">
    <div class="card datatable-scroll-wrap">

        <div class="card-header pb-0 d-flex justify-content-between">
            <h2>Comprobante contable</h2>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="form-group form-group-float col-md-2">
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <span>Mes</span>
                        <select id="cbo_mes" class="custom-select form-control input-borde"></select>
                    </div>
                </div>
                <div class="form-group form-group-float col-md-2">
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <span>Año</span>
                        <select id="cbo_anio" class="custom-select form-control input-borde"></select>
                    </div>
                </div>
                <div class="form-group form-group-float col-md-2">
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <span>Tipo de comprobante</span>
                        <select id="txt_tipo" class="custom-select form-control input-borde">
                            <option value="P">Pago</option>
                            <option value="L">Costo empresa</option>
                            <option value="T">Proveedores</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="text-align:left">
                    <input id="busca" type="button" value="Buscar" class="btn btn-primary bg-indigo-800 rounded-round btn-sm m-2" onclick="inicio()" />
                </div>
                <div class="col-md-3" style="text-align:right">
                    <button id="nuevo" style="display: none;" type="button" class="btn btn-primary bg-indigo-800 rounded-round btn-sm m-2" onclick="Procesar()">Generar comprobante</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" align="center">
                    <img id="esperar" src="global_assets/images/loading-gif.gif" style="height:30px;width:30px;" />
                </div>

            </div>

            <div id="list_comprobantecontable"></div>

        </div>

    </div>
</div>


@section Scripts{
    <script src="~/scripts/formatorut.js"></script>
    <script src="~/scripts/ComprobanteContable.js"></script>
}