@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*                **************************************       Haberes       **************************************                *@



<link href="global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
<script src="global_assets/js/demo_pages/form_floating_labels.js"></script>

<div class="dataTables_wrapper no-footer">
    <div class="card datatable-scroll-wrap">

        <div class="card-header pb-0 d-flex justify-content-between">
            <h2>Haberes</h2>
            <button type="button" class="btn btn-primary bg-indigo-800 rounded-round btn-sm m-2" data-bs-toggle="modal" data-bs-target="#modal_Haberes" onclick="abrirModal()"><i class="ph-plus me-2"></i> Nuevo haber</button>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12" align="center">
                    <img id="esperar" src="global_assets/images/loading-gif.gif" style="height:30px;width:30px;" />
                </div>

            </div>

            <div id="list_haberes"></div>

        </div>

    </div>
</div>




@****@

<div id="modal_Haberes" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-dark pb-0" >
                <h2><label id="txt_Cabecera" class="text-light">Haberes</label></h2><label id="txt_id" class="text-indigo cls_t"></label>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="form-group form-group-float col-md-2">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Codigo haber</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_haber" class="form-control cls_t Obl_t" placeholder="Codigo haber*" name="Haber" required>
                            <div class="form-control-feedback-icon">
                                <i class="ph-baby"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-8">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Descripción</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_descripcion" class="form-control cls_t Obl_t" name="Descripcion" placeholder="Descripcion*" required>
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <span>Imponible</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t Obl_t" name="imponible" id="txt_imponible" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='N'>NO</option>
                                <option value='S'>SI</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <span>Tributable</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t Obl_t" name="tributable" id="txt_tributable" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='N'>NO</option>
                                <option value='S'>SI</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <span>Garantizado</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t Obl_t" name="garantizado" id="txt_garantizado" required>
                                 <option value=''>-- Seleccione --</option>
                               <option value='N'>NO</option>
                                <option value='S'>SI</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <span>Retenible</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t Obl_t" name="retenible" id="txt_retenible" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='N'>NO</option>
                                <option value='S'>SI</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <span>Deducible</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t Obl_t" name="deducible" id="txt_deducible" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='N'>NO</option>
                                <option value='S'>SI</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <span>Base licencias</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t Obl_t" name="baselicencias" id="txt_licencias" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='N'>NO</option>
                                <option value='S'>SI</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <span>Base sobretiempo</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t Obl_t" name="basesobretiempo" id="txt_sobretiempo" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='N'>NO</option>
                                <option value='S'>SI</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <span>Base indem.</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t Obl_t" name="baseindemnizacion" id="txt_indemnizacion" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='N'>NO</option>
                                <option value='S'>SI</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <span>Base variable</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t Obl_t" name="tbasevariable" id="txt_variable" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='N'>NO</option>
                                <option value='S'>SI</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-group-float col-md-12">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Código dirección del trabajo</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select id="cbo_DT" name="DT" class="form-control m-0 p-0 cls_t Obl_t"></select>
                        </div>
                    </div>
@*                     <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Código previred</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select id="cbo_previred" name="previred" class="form-control m-0 p-0 cls_t Obl_t"></select>
                        </div>
                    </div>
 *@                </div>



                <div class="row">
                    <div id="divErrores" style="font-weight:bold;color:red" class="form-control m-0 p-0 cls_t"></div>
                </div>

            </div>

            <div class="modal-footer" style="text-align:right">
                <button type="button" id="btnCerrar" class="btn btn-light legitRipple float-end" data-bs-dismiss="modal">Cerrar</button>
                <input type="button" value="Guardar" class="btn btn-primary float-end" onclick="Guarda()" />
            </div>

        </div>
    </div>
</div>




@section Scripts{
    <script src="~/scripts/formatorut.js"></script>
    <script src="~/scripts/Haberes.js"></script>
}