@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*                **************************************       Contratos       **************************************                *@



<link href="global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
<script src="global_assets/js/demo_pages/form_floating_labels.js"></script>

<div class="dataTables_wrapper no-footer">
    <div class="card datatable-scroll-wrap">

        <div class="card-header pb-0 d-flex justify-content-between">
            <h2>Contratos</h2>
            <button type="button" class="btn btn-primary bg-indigo-800 rounded-round btn-sm m-2" data-bs-toggle="modal" data-bs-target="#modal_Contratos" onclick="abrirModal()"><i class="ph-plus me-2"></i> Nuevo contrato</button>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12" align="center">
                    <img id="esperar" src="global_assets/images/loading-gif.gif" style="height:30px;width:30px;" />
                </div>

            </div>

            <div id="list_contratos"></div>

        </div>

    </div>
</div>




@****@

<div id="modal_Contratos" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-dark pb-0">
                <h2><label id="txt_Cabecera" class="text-light">Contratos</label></h2><label id="txt_id" class="cls_t text-indigo"></label>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="form-group form-group-float col-md-3" id="camporut">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">RUT</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_rut" class="form-control cls_t obl_t" name="RUT" placeholder="RUT*" onchange="existeRut(this.value)">
                            <div class="form-control-feedback-icon">
                                <i class="ph-identification-card"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-float col-md-5">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Nombres</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_nombres" class="form-control cls_t obl_t" name="Nombres" placeholder="Nombres*" readonly>
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Apellidos</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_apellidos" class="form-control cls_t obl_t" name="Apellidos" placeholder="Apellidos*" readonly>
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="form-group form-group-float col-md-3">
                            <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Tipo de contrato</label>
                            <select id="cbo_tipocontrato" class="form-control m-0 p-0 cls_t obl_t" name="Tipo contrato"></select>
                        </div>
                    <div class="form-group form-group-float col-md-3">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Contrato</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_contrato" class="form-control cls_t obl_t" placeholder="Nro.de contrato" name="Numero contrato" required>
                            <div class="form-control-feedback-icon">
                                <i class="ph-file-doc"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-3">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Inicio</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="date" id="txt_inicio" class="form-control cls_t obl_t" placeholder="Fecha inicio*" name="Fecha inicio" required>
                            <div class="form-control-feedback-icon">
                                <i class="ph-calendar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-3">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Termino</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="date" id="txt_termino" class="form-control cls_t obl_t" placeholder="Fecha termino*" name="Fecha termino" required>
                            <div class="form-control-feedback-icon">
                                <i class="ph-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Faena</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select id="cbo_faena" name="faena" class="form-control m-0 p-0 cls_t Obl_t"></select>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Cargo</label>
                            <div class="form-control-feedback form-control-feedback-start mb-3">
                               <select id="cbo_cargo" name="cargo" class="form-control m-0 p-0 cls_t Obl_t"></select>
                            </div>
                        </div>
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Centro de costos</label>
                            <div class="form-control-feedback form-control-feedback-start mb-3">
                               <select id="cbo_centro" name="centro" class="form-control m-0 p-0 cls_t Obl_t"></select>
                            </div>
                     </div>
                </div>

                <div class="row">
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Jornada de trabajo</label>
                                    <div class="form-control-feedback form-control-feedback-start mb-3">
                                        <select id="cbo_jornada" name="jornada" class="form-control m-0 p-0 cls_t Obl_t"></select>
                                    </div>
                                </div>
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Sueldo base</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_sueldo" class="form-control cls_t obl_t" placeholder="Sueldo base" name="Sueldo base" required>
                            <div class="form-control-feedback-icon">
                                <i class="ph-money"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <span>Tipo carga</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t" name="Sexo" id="txt_tipocarga" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='A'>Tramo A</option>
                                <option value='B'>Tramo B</option>
                                <option value='C'>Tramo C</option>
                                <option value='D'>Tramo D</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <span>Articulo22</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t" name="Articulo 22" id="txt_articulo22" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='N'>Sin articulo 22</option>
                                <option value='S'>Con articulo 22</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Banco</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select id="cbo_banco" name="banco" class="form-control m-0 p-0 cls_t Obl_t"></select>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Tipo de cuenta</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select id="cbo_tipocuenta" name="tipo de cuenta" class="form-control m-0 p-0 cls_t Obl_t"></select>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Numero de cuenta</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_cuenta" class="form-control cls_t obl_t" placeholder="numero de cuenta" name="numero de cuenta" required>
                            <div class="form-control-feedback-icon">
                                <i class="ph-money"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Previsión</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select id="cbo_afp" name="AFP" class="form-control m-0 p-0 cls_t Obl_t"></select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <span>Tipo de aporte</span>
                        <div class="input-group">
                            <select class="form-control input-borde cls_t" name="Articulo 22" id="txt_tipoapv" required>
                                <option value=''>-- Seleccione --</option>
                                <option value='1'>Cotizacion voluntaria</option>
                                <option value='2'>Ahorro voluntario</option>
                                <option value='2'>Deposito convenido</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Aporte voluntario</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_apv" class="form-control cls_t" placeholder="aporte voluntario" name="aporte voluntario" required>
                            <div class="form-control-feedback-icon">
                                <i class="ph-money"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Salud</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select id="cbo_isapre" name="isapre" class="form-control m-0 p-0 cls_t Obl_t"></select>
                        </div>
                    </div>
                     <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Cotización Ufs</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_ufs" class="form-control cls_t" placeholder="Cotizacion Ufs" name="acotización ufs" required>
                            <div class="form-control-feedback-icon">
                                <i class="ph-money"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-group-float col-md-8">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Observacion</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_observacion" class="form-control" placeholder="Observaciones" required>
                            <div class="form-control-feedback-icon">
                                <i class="ph-file-doc"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div id="divErrores" style="font-weight:bold;color:red" class="form-control cls_t"></div>
                </div>

            </div>

            <div class="modal-footer" style="text-align:right">
                <button type="button" id="btnCerrar" class="btn btn-light legitRipple float-end" data-bs-dismiss="modal">Cerrar</button>
                <input type="button" value="Guardar" class="btn btn-primary float-end" onclick="Guarda()" />
            </div>

        </div>
    </div>
</div>




@section Scripts{
    <script src="~/scripts/formatorut.js"></script>
    <script src="~/scripts/Contratos.js"></script>
}