@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*                **************************************       Conversión contable       **************************************                *@



<link href="global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
<script src="global_assets/js/demo_pages/form_floating_labels.js"></script>

<div class="dataTables_wrapper no-footer">
    <div class="card datatable-scroll-wrap">

        <div class="card-header pb-0 d-flex justify-content-between">
            <h2>Conversión</h2>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="form-group form-group-float col-md-2">
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <span>Mes</span>
                        <select id="txt_modulo" class="custom-select form-control input-borde">
                            <option value="P">Pago</option>
                            <option value="L">Costo empresa</option>
                            <option value="T">Proveedores</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="text-align:left">
                    <input id="busca" type="button" value="Buscar" class="btn btn-primary bg-indigo-800 rounded-round btn-sm m-2" onclick="Listar()" />
                </div>
                <div class="col-md-3" style="text-align:right">
                    <button id="nuevo" style="display: none;" type="button" class="btn btn-primary bg-indigo-800 rounded-round btn-sm m-2" data-bs-toggle="modal" data-bs-target="#modal_Conversion" onclick="abrirModal()">Nuevo registro</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" align="center">
                    <img id="esperar" src="global_assets/images/loading-gif.gif" style="height:30px;width:30px;" />
                </div>

            </div>

            <div id="list_conversion"></div>

        </div>

    </div>
</div>




@****@

<div id="modal_Conversion" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-dark pb-0">
                <h2><label id="txt_Cabecera" class="text-light">Conversion</label></h2><label id="txt_id" class="cls_t text-indigo"></label>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Concepto*</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select id="cbo_concepto" class="custom-select form-control input-borde Cls_t Obl_t" name="concepto"></select>
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-4">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Cuenta*</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select id="cbo_cuenta" class="custom-select form-control input-borde Cls_t Obl_t" name="cuenta"></select>
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group form-group-float col-md-2">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Debe o haber*</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select type="text" id="txt_deshab" class="custom-select form-control input-borde Cls_t Obl_t" name="debe o haber">
                                <option value="D">Debe</option>
                                <option value="H">Haber</option>
                            </select>
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-2">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Agrupación*</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select type="text" id="txt_grupo" class="custom-select form-control input-borde Cls_t Obl_t" name="agrupación">
                                <option value="1">Individual</option>
                                <option value="2">Codigo</option>
                                <option value="3">Auxiliar</option>
                            </select>
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group form-group-float col-md-2">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Tipo auxiliar*</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select type="text" id="txt_tipaux" class="custom-select form-control input-borde Cls_t Obl_t" name="tipo auxiliar">
                                <option value="1">Rut</option>
                                <option value="2">Código</option>
                                <option value="3">AFP</option>
                                <option value="4">Isapre</option>
                                <option value="5">C.R.</option>
                                <option value="6">Faena</option>
                            </select>
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-4">
                            <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Auxiliar</label>
                            <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_auxiliar" class="form-control cls_t Obl_t"  name="auxiliar">
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                        </div>
                </div>

                <div class="row">
                    <div class="form-group form-group-float col-md-3">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Tipo vencimiento</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <select type="text" id="txt_tipven" class="custom-select form-control input-borde Cls_t Obl_t" name="tipo vencimiento">
                                <option value="1">Pago</option>
                                <option value="2">Fin de mes</option>
                                <option value="3">Fecha posterior</option>
                            </select>
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-3">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Día</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_diaven" class="form-control cls_t Obl_t" name="dia de vencimiento">
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-float col-md-3">
                        <label class="form-group-float-label animate is-visible m-0 p-0 font-weight-semibold">Mes</label>
                        <div class="form-control-feedback form-control-feedback-start mb-3">
                            <input type="text" id="txt_mesven" class="form-control cls_t Obl_t" name="mes de vencimiento">
                            <div class="form-control-feedback-icon">
                                <i class="ph-dots-nine"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="divErrores" style="font-weight:bold;color:red"></div>
                </div>

            </div>

            <div class="modal-footer" style="text-align:right">
                <button type="button" id="btnCerrar" class="btn btn-light legitRipple float-end" data-bs-dismiss="modal">Cerrar</button>
                <input type="button" value="Guardar" class="btn btn-primary float-end" onclick="Guarda()" />
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/scripts/formatorut.js"></script>
    <script src="~/scripts/ConversionContable.js"></script>
}